.container{
    margin-top: 76px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom:40px;
}

.title{
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 60px;
    text-align: center;
}
.projects{
    margin-top: 37px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
}